/* CSS Document */
.key{background:url(/images/spanicon_keys.png);display:inline-block;vertical-align:middle;text-align:center;font-size:13px;color:#3f7500;font-family:Arial, Helvetica, sans-serif;font-weight:bold;overflow:hidden;}
.m_left{width:18px;height:25px;}
.m_right{width:18px;height:27px;background-position:0px -33px;}
.m_move{width:23px;height:25px;background-position:0px -70px;}
.m_drag{width:23px;height:25px;background-position:0px -105px;}
.alt{width:38px;height:22px;background-position:0px -140px;line-height:17px;}
.enter{width:47px;height:22px;background-position:0px -172px;line-height:17px;}
.shift{width:47px;height:22px;background-position:0px -204px;line-height:17px;}
.ctrl{width:38px;height:22px;background-position:0px -236px;line-height:17px;}
.tab{width:38px;height:22px;background-position:0px -268px;line-height:17px;}
.end{width:38px;height:22px;background-position:0px -300px;line-height:17px;}
.space{width:77px;height:22px;background-position:0px -332px;line-height:13px;}
.left{width:24px;height:22px;background-position:0px -364px;line-height:13px;}
.right{width:24px;height:22px;background-position:0px -396px;line-height:13px;}
.up{width:24px;height:22px;background-position:0px -428px;line-height:13px;}
.down{width:24px;height:22px;background-position:0px -460px;line-height:13px;}
.lf{width:49px;height:22px;background-position:0px -492px;line-height:13px;}
.ud{width:49px;height:22px;background-position:0px -524px;line-height:13px;}
.letter{width:24px;height:22px;background-position:0px -556px;line-height:16px;}
.wasd{width:52px;height:30px;background-position:0px -588px;line-height:16px;}
.direct{width:52px;height:30px;background-position:0px -628px;line-height:16px;}
.line{border-bottom:1px dotted #000000;height:1px;line-height:1px;overflow:hidden;margin:5px 0px;}