@charset"utf-8";

body{margin:0;font-family:"宋体"}
body, table, tr, td, form, div{font-size:12px}
body a{text-decoration:none}
body form, p{margin:0}
body img{border:0}
body ul{margin:0;padding:0;list-style:none;}
div.w{margin:0 auto;width:960px;background:#ffffff;padding:0 4px;clear:both}
div.clear{clear:both}
body a:hover{text-decoration:underline}
object{display:block}
/* font color ccs */
a.red{color:#F80000!important}
.green{color:#008000!important}
.red{color:red!important}
/* top_border ccs */
body div.mt{height:26px;line-height:26px;border:1px solid #DDDDDD;background:#F2F2F2;color:#474747}
body div.mt a{color:#474747;}
body div.mt div{margin:0 auto;width:968px;padding-left:12px}
/* top_logo ccs */
div.topmenu{background:url(../images/menu_bg.gif) no-repeat;height:35px;line-height:35px;padding-left:10px}
div.topmenu a{color:#FFFFFF;margin:0 9px}
div.topmenu a:hover{color:#FF9900;}
div.topmenu a.b{font-weight:bold;font-family:Verdana, Arial, Helvetica, sans-serif;text-decoration:underline}
/* page_bottom ccs */
div.pbottom{border:1px solid #CFEDA7;background:#F5FFE4;height:24px;line-height:24px;text-align:center;margin-top:10px;clear:both;}
div.pbottom a{color:#008000}
div.pbottom1{text-align:center;color:#3B3B3B;line-height:180%;margin:10px 0}
div.pbottom1 span{color:#3367B3}
div.pbottom1 a{color:#3B3B3B;text-decoration:underline}
/* public ccs */
.pt8{padding-top:8px!important}
.rfloat{float:right!important}
ul.c{margin:0;padding:0;list-style:none;clear:both;}
ul.c li{float:left;height:95px;overflow:hidden;width:93px;margin:0 auto;text-align:center;}
ul.c li img{width:80px;height:60px;margin:1px}
ul.c li a{display:block;border:1px solid #B5D2ED;width:82px;margin:0 auto;}
ul.c li a:hover{border:1px solid #FF3300}
ul.c li a.f{text-align:center;border:none;color:#3B3B3B;padding-top:6px;padding-bottom:2px;margin:0 auto}
.buttunlv{text-align:center;height:22px;line-height:20px;background:url(../images/t_buttun2.gif) repeat-x;border:1px solid #99B36A;color:#464646}
.buttunhong{text-align:center;background:url(../images/t_buttun1.gif) repeat-x;height:20px;line-height:20px;display:block;border:1px solid #BDA368;color:#996C33;width:100px}
.buttunred{text-align:center;background:url(../images/bg_g.gif) 0 -383px repeat-x;padding:5px 11px 4px;color:#FFFFFF}
/* top_sguest ccs */
.sguesttop{background:url(../images/b2_top1.gif) no-repeat;height:8px;font-size:1px;margin-top:8px;padding:0;}
.sguestbor{border-left:1px solid #BEDC93;border-right:1px solid #BEDC93;float:left;width:951px;overflow:hidden;padding-left:7px;}
.sguestbor div.title{color:#008000;font-weight:bold;height:24px;background:url(../images/tbox3.jpg) no-repeat;padding-left:21px;}
div#mygameid{left:110px;top:-14px;width:70%;overflow:hidden;padding:0 10px;position:relative;color:#FF3300; font-weight:100; text-align:center;height:14px; overflow:hidden}
div#mygameid a{color:#999999;margin-left:8px}
div#mygameid a.clear{text-decoration:underline}
.sguestbottom{background:url(../images/b2_bottom.jpg) no-repeat;height:8px;font-size:1px;clear:both}
/* renqi_xx css */
label.x1{background:url(../images/xx.jpg) 37px 0 no-repeat;width:116px;height:14px; display:block;line-height:14px;}
label.x2{background:url(../images/xx.jpg) 37px -14px no-repeat;width:116px;height:14px; display:block;line-height:14px;}
label.x3{background:url(../images/xx.jpg) 37px -28px no-repeat;width:116px;height:14px; display:block;line-height:14px;}
label.x4{background:url(../images/xx.jpg) 37px -42px no-repeat;width:116px;height:14px; display:block;line-height:14px;}
label.x5{background:url(../images/xx.jpg) 37px -56px no-repeat;width:116px;height:14px; display:block;line-height:14px;}
/* page css */
div.aPage{margin:0 auto;text-align:center;height:30px;line-height:30px;clear:both;margin-top:15px}
.aPage a{border:1px #CCC solid; padding:3px 8px; font-weight:normal;line-height:32px;color:#000000;text-decoration:none;margin-right:8px;}
.aPage a.selected{background:#63B12E;border:1px solid #5EA82B;color:#FFFFFF}
/* zztag css */
ul.zz li{height:23px;background:url(../images/abuttonb.jpg) left top no-repeat;float:left;padding-left:10px;margin-right:3px; overflow:hidden}
ul.zz li a{background:url(../images/abuttonb.jpg) right top no-repeat;float:left;display:block;height:23px;line-height:23px;padding-right:10px;color:#421600;}
ul.zz li.selected{height:23px;background:url(../images/abuttonb.jpg) 0 -23px no-repeat;float:left;padding-left:10px;margin-right:3px}
ul.zz li.selected a{background:url(../images/abuttonb.jpg) right bottom no-repeat;float:left;display:block;height:23px;line-height:23px;padding-right:10px;color:#FF6600;}